[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
reuse = "*"
black = "*"

mkdocs = "*"
mkdocs-dracula-theme = "*"
mkdocs-macros-plugin = "*"
mkdoxy = "*"
mkdocs-gen-files = "*"

[requires]
python_version = "3.13"
