[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reuse = "*"
black = "*"
pillow = "*"

mkdocs = "*"
mkdocs-material = "*"
mkdocs-macros-plugin = "*"
mkdoxy = "*"
mkdocs-gen-files = "*"
mkdocs-awesome-nav = "*"

[requires]
python_version = "3.12"
